
body {

    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

    }
.container {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
h1 {
    padding-top: 5rem;
}

.card h2 {
    padding-top: 1rem;
    text-align: center;

}

#resultado {
  padding-top: 1rem;  
  text-align: center;

}
.paragrafo-resultado, .paragrafo-incorreto {
    background: rgb(60, 255, 0);
    color: black;
    padding: 5px 5px;
    border-radius: 5px;
    }

.paragrafo-incorreto  {
    background: #af6565;
}